@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}


.navbar{
   
    width: 100%;
    height: 8vh;
    background: linear-gradient(to right, rgba(58, 214, 253,0.4), rgba(112, 62, 247,0.4));
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;

}
.navbar-logo{
    margin-left: 20px;
}
.nav-links a{
    text-decoration: none;
    padding: 10px;
}
.nav-links a:hover{
   border-bottom: 1px solid red;
   background: rgba(255, 255, 255, 0.2);
}
.btn{
    border: none;
    outline: none;
    font-size: 17px;
    padding: 10px;
    border-radius: 30px;
    background: #0984e3;
    margin-right: 20px;
    transition: background 0.5s ease-in-out;
}
.btn:hover{
     background: rgba(9, 132, 227,0.6);
}
.div-h{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.cloud{
    background: url('./bg/backlit-chiemsee-dawn-1363876.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: cornsilk;
}
.links{
    margin-top:40px;
    display: flex;
    justify-content: space-between;
}
.start h1{
    font-size: 5rem;
    text-shadow: 2px 2px 7px rgba(255, 65, 65, 0.5);
}
.start p{
    font-size: 1.5rem;
    margin: 0 20px;
}
.start a{
    font-size: 1.4rem;
    text-decoration: none;
    color: rgb(0, 0, 0);

}
.div-h:nth-child(2){
    height: 300px;
}
.empty-div{
    background: url('./bg/background-calm-clouds-747964.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.div-g{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.about h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;;
    
}
.about-info{
    width: 60vw;
    height: 40vh;
}
.about img{
    float: left;
    height: 30vh;
    width: 30vh;
    margin: 20px;
    border: 5px solid rgb(204, 200, 200);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    
}
.about-info p{
    font-weight: 500;
    margin-left:20vw;
    position: relative;
    top: 10vh;
    font-size: 1.5rem;

}