@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
html{
    overflow: hidden;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    background: rgb(17,31,34);
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.nav-icon {
    width: 40px;
    position: relative;
    top: 30px;
    left: 30px;
    z-index: 4;
}
      
.nav-icon:after, 
.nav-icon:before, 
.nav-icon .bar {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}
.nav-icon:hover:before {
    transform: translateY(12px) rotate(135deg);
  }
  
  .nav-icon:hover:after {
    transform: translateY(-12px) rotate(-135deg);
  }
  
  .nav-icon:hover .bar {
    transform: scale(0);
  }
  .nav-icon:hover .drop-content{
        display: flex;
        justify-content: space-around;
  }
.drop-content{
    position: absolute;
    top: 10%;
    left: 0;
    height: 10vh;
    width: 40vw;
    display: none;
    
}
.drop-content a{
    text-decoration: none;
    color: azure;
    font-size: 1.4rem;
    padding: 20px;
    

}
.drop-content a:hover{
    background: rgba(255, 255, 255, 0.1);
    animation: please 0.5s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes please{
    0%{
        border-top:1px solid red;
    }
    25%{
        border-right:1px solid red;
    }
    50%{
        border-bottom:1px solid red;
    }
    100%{
        border-left:1px solid red;
    }
}
/*home*/
.cloud{
    width: 100vw;
    height: 100vh;
   
    padding-top: 20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cloud::before{
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url('./bg/bg-dark.jpg');
    background-size: cover;
    background-position: center center;
    z-index: -1;
    transform: translateZ(-1px) scale(2);

}
.intro{
    color: rgb(255, 255, 255);
    max-width: 500px;
    height: 200px;
    font-size: 1.5rem;
    font-weight: 200;
    transform: translate(-50% -50%);
    position: relative;
}
.intro h1::before{
    content: "";
    position: absolute;
    top: 0;
    height: 1%;
    width: 0%;
    background: red;
    animation: fill-mode 2s linear ; 
}
@keyframes fill-mode{
    10%{
        width:20%;
    }
    40%{
        width:40%;
    }
    70%{
        width:60%;
        background: green;
    }
    100%{
        width: 100%;
        background: crimson;

    }
}

/*about-section*/
.about{
    width: 100vw;
    height: 100vh;
    padding-top:5vh;
    position: relative;
    background: linear-gradient(to  bottom  right,rgb(193, 99, 247),rgb(250, 185, 185));
    background-size: cover;
    
    
}
.about h1{
    display:inline-block;
    font-size: 2.5rem;
    padding:15px;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    
}
.wrapper{
    display: flex;
    justify-content: space-evenly ;
    
}
/*intro-card*/
.about-info h1{
    font-size: 1.5rem;
    margin-bottom:2vh;
   
}
.about-info{
    max-width: 300px;
    height: auto;
    background: white;
    box-shadow:4px 4px 10px rgba(0,0,0,0.5);
    border-radius: 20px 20px 0 0;


 }
.about-info img{
    height: 200px;
    width: 300px;
    border-radius: 20px 20px 0 0;

  
}
.about-info p{
    margin:20px 0;
    font-size: 1.3rem;
    max-width: 400px;
    padding-left: 5px;

}
/*skills-section*/
.skills{
    width: 600px;
    height: 40vh;
    padding: 2vh;
    

}
.skills .bar{
    margin: 10px;
    width: 90%;
    height: 4vh;
    border-radius: 20px;
    background: rgb(204, 203, 203);
}
/*progress-bar's  progress*/
.filler{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 100%;
    border-radius: 20px;
    background: rgba(231, 0, 69,0.8);
    

}
.bar:hover .filler{
    animation: filler 2s linear;
}
@keyframes filler{
    0%{
        background: #00A1A7;
        width:20%;
        opacity: 0.2;
    }
    25%{
        background: #00A1A7;
        width:40%;
        opacity: 0.4;
    }
    50%{
        background: #00A1A7;
        width:60%;
        opacity: 0.6;
    }
    80%{
        background: #00A1A7;
        width:80%;
        opacity: 0.8;
    }
    100%{
        background: #00A1A7;
        width:100%;
        opacity: 1;
    }
}

.filler p{
    margin-left: 10px;
    padding: 3px;
}
/*for-different-level-of-progress*/
.c{
    width: 70%;
}
.js{
    width: 40%;
}
.my{
width: 50%;
}
.wp{
    width: 40%;
   }



/*footer*/

footer{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.links a{
    color: black;
    font-size: 40px;
    margin: 20px;
    padding:0 2px;
    border-radius:100% ;
    transition: color 0.4s ease-in-out;
}
.links a:hover{
    color: rgb(255, 255, 255);
    box-shadow: 0 0 30px rgb(255, 255, 255);
}

/*responsiveness-media-queries*/
@media screen  and  (max-width:600px){
    .drop-content{
        top:-2vh;
        left: 10vw;
        width:80vw;
        
    }
   
    .about{
        padding-top:0;
        height: 145vh;
      
    }
    .about h1{
        padding:10px;
        margin-bottom: 20px;
        
    }
    .wrapper{
        padding-top:5vh ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5vh;
        
    }
    .skills{
        width: 100%;
        height: auto;
        padding: 2vh;
    }
} 
